# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
*.iml
.idea/
.metadata
# Generated platform folders are created by tool/setup_platforms.sh
android/
ios/
macos/
linux/
windows/
web/
